{
    "extends": ["eslint:all", "plugin:react/all"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react"],
    "rules": {
        "react/button-has-type": "error"
    }
}
